body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: blue;
    border-radius: 8px;
    
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
}


#resultado {
    margin-top: 20px;
    font-weight: bold;
}